*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.input{
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 5px;
}

.boton{
    background-color: black;
    color:rgb(246, 152, 195);
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgb(108, 39, 228);
    margin: 10px;
    /* height: 30px; */
    font-weight: bold;
    padding: 5px 10px;
    font-family: "IBM Plex Mono", monospace;
    
}

.boton:hover{
    background-color: rgb(246, 152, 195);
    color: black;
}

.search {
   float:right;
   margin: 15px;
   
}

.contenedor{
    background-color: rgba(0, 0, 0, 0.661);
    height: 80px;
    width: 100%;
    border-bottom: 2px solid rgb(191, 79, 167) ;
    
}

/* TODO LO DE NAVEGADOR SUPLENTE */





/* .img {
    width: 150px;
    height: 100px;
} */